body {
  font-family: sans-serif;

  * {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

}


